@charset "UTF-8";
body {
  background-color: #fff;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #f8f9fa;
}

nav .navbar-brand img {
  max-height: 50px;
}

nav .nav-link {
  color: #6c757d;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav .nav-link.active,
nav .nav-link:hover {
  color: #007bff;
}

.jumbotron {
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

.banner {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  margin-bottom: 2rem;
  padding: 1rem;
}

.banner img {
  max-width: 100%;
}

.banner p {
  color: #6c757d;
  font-weight: 500;
  margin-top: 0.5rem;
}

.carousel-item img {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators li {
  background-color: #f8f9fa;
}

.carousel-indicators .active {
  background-color: #007bff;
}

/* Estilos generales */
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f2f2f2;
}

.container-reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}
.container-reviews .col {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.container-reviews .col p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.container-reviews .col h1 {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}
.container-reviews .col h2 {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  margin-bottom: 10px;
}
.container-reviews .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container-reviews .col ul li {
  margin: 5px 0;
  padding: 0 0 0 20px;
  position: relative;
}
.container-reviews .col ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #999;
}
.container-reviews .col:nth-child(1) h1 {
  color: #f44336;
}
.container-reviews col:nth-child(2) h1 {
  color: #4caf50;
}
.container-reviews .col:nth-child(2) h2 {
  color: #4caf50;
}
.container-reviews .col:nth-child(3) h1 {
  color: #2196f3;
}
.container-reviews .col:nth-child(3) h2 {
  color: #2196f3;
}
.container-reviews .col:nth-child(3) ul li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .col {
    flex-basis: 100%;
  }
}
.catalogo {
  display: flex;
  gap: 1rem;
  padding-left: 5rem;
}
.catalogo .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel-indicators {
  display: none;
}
.carousel-inner .carousel-item {
  position: relative;
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carousel-inner .carousel-item.active {
  display: block;
  opacity: 1;
}
.carousel-inner .carousel-item img {
  border-radius: 5px;
  filter: grayscale(20%);
  transition: filter 0.6s ease-in-out;
}
.carousel-inner .carousel-item img:hover {
  filter: none;
}
.carousel-inner .carousel-item .text-center p {
  font-size: 2rem;
  margin-bottom: 0;
}
.carousel-inner.active .carousel-item {
  display: block;
  opacity: 1;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 7%;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}
.carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel .carousel-control-prev span,
.carousel .carousel-control-next span {
  font-size: 3rem;
  color: #f1faee;
}
.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-image: none;
}
.carousel .carousel-control-prev {
  left: 0;
  z-index: 1;
}
.carousel .carousel-control-next {
  right: 0;
  z-index: 1;
}
.carousel .carousel-indicators {
  bottom: -50px;
}/*# sourceMappingURL=estilos.css.map */